{% extends "auth_base.html" %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <div style="text-align: center;">
                            <h1 id="head">
                                <img src="{% static 'img/logo.png' %}" alt="" width="35" height="35">
                                ERP Flame
                            </h1><br>
                            <h4 style="color:brown">Forgot Password</h4>
                        </div>
                            <p>
                                A mail has been sent to your email (if email exist). <br>
                                kindly check your inbox or spam folder.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}