{% extends "auth_base.html" %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <div style="text-align: center;">
                            <h1 id="head">
                                <img src="{% static 'img/logo.png' %}" alt="" width="35" height="35">
                                ERP Flame
                            </h1><br>
                            <h4 style="color:brown">Forgot Password</h4>
                        </div>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group">
                                    {{field.errors}}
                                    
                                    <label style="font-weight:bold">{{field.label_tag}}</label>
                                    <input class="au-input au-input--full mt-2 form-control form-control-sm mb-3" type="email" name="{{field.html_name}}" placeholder="Enter your registered email">
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20 form-control form-control-sm" style="background: rgb(1, 35, 51); color: #fff" type="submit">submit</button>             
                                {% endfor %}
                            </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}