<html>
    <head>
        <title>Anika</title>
    </head>

    <body style="background-color:rgb(227, 236, 236); color:rgb(2, 2, 3); font-family:'Courier New', Courier, monospace">
        <h1>This Main Hadding  H1</h1>
        <h2>This Main Hadding</h2>
        <h3>This Main Hadding</h3>
        <h4>This Main Hadding</h4>
        <h5>This Main Hadding</h5>


        <p> 
            <b>Lorem ipsum</b> <br> 
            <i>dolor sit amet consectetur adipisicing</i>
            <u>elit. Ullam similique molestias</u><br>

            Old Price: <strike> 800</strike> new price: 500 <br>

            log<sub>2</sub> <br>
            (a+b)<sup>2</sup> <br>
            
            
            
            
            <b>গরু আমাদের নানা উপকারে</b>   এবং নিরীহ প্রাণী।
              উচ্চতায় এটি তিন চার হাত এবং দৈর্ঘ্য পাঁচ ছয় হাত হয়ে থাকে। গরুর দুই চোখ, দুই কান, দুই শিং,একটি দীর্ঘ মাথা এবং পিছনে একটি লেজ থাকে। গরুর সারা শরীর ছোট এবং ঘন লোমে আবৃত থাকে। গরু লাল,কালো, সাদা ইত্যাদি বিভিন্ন রঙের হয়ে থাকে এবং বিশ্বের সবজায়গায় পাওয়া যায়।
        </p>

        <big>গৃহস্থালির কাজে গরু একটি গুরুত্বপূর্ণ প্রাণী।</big>
        <small>গরু আমাদের নানা উপকারে আসে</small> 
        <strong>গরু আমাদের নানা উপকারে আসে</strong>
        <sample>আসে এবং তার দ্বারা অনেক কাজ সাধন করা হয়।</sample>
        <tt>প্রাণী হিসেবে গরু একটি শান্তশিষ্ট</tt> <br>
        <abbr>UNO</abbr> United National Organigation <br>
        <var>আকার ও আকৃতি</var>
        <code>আকার ও আকৃতি:</code><br>
        <address>গরু একটি চার পা ওয়ালা প্রাণী।</address>

        <br><br>

        <p><span style="color:purple"><b>Lorem ipsum dolor</b></span> sit amet consectetur adipisicing elit. Libero exercitationem, non iusto debitis quae numquam facere deleniti rerum ipsum pariatur ut sit, ab ad suscipit quam dolorum illum? Possimus, officia!</p>

    </body>
</html>