{% extends "base.html" %}

{% block content %}

<div class="container mt-2">
    
    <div class="row">
        <div class="col-md-10 my-auto" style="background-color: #E8EBF0">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb my-auto " style="padding-top: 5px; padding-bottom: 5px">
                    <li class="breadcrumb-item">
                        <a href="{% url 'incomes' %}">Incomes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Income</li>
                    
                </ol>
            </nav>
        </div>
    
        <div class="col-md-2">
            <a href="{% url 'add-income' %}" class="btn btn-primary">Add Income</a>
        </div>
    </div>

    
    {% csrf_token %}
    <div class="card mt-3" style="margin:auto; width:80%">
        <div class="card-body">
            <form action="{% url 'add-income' %}" method="post">
                {% include "partials/messages.html" %}
                {% csrf_token %}
                <div class="form-group">
                    <label >Amount</label>
                    <input type="number" class="form-control form-control-sm mb-2" name="amount" value="{{form.amount}}">
                </div>
                <div class="form-group">
                    <label >Description</label>
                    <input type="text" class="form-control form-control-sm mb-2" name="description" value="{{form.description}}">
                </div>
                <div class="form-group">
                    <label >Source</label>
                    <select class="form-control form-control-sm" name="source">
                        {% if sources %}
                            {% for source in sources %}
                                <option name="source" value="{{source.name}}" 
                                    {% if form.source %}
                                        {% if form.source == source.name %} selected {% endif %}
                                    {% endif %}>{{source.name}}</option>
                            {% endfor %}
                        {% else %}
                            <option selected>Choose...</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" class="form-control form-control-sm mb-2" name="date" value="{{form.date}}">
                </div>
                <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm">
            </form>
        </div>
    </div>   
</div>
{% endblock %}


