{% extends "base.html" %}


{% block content %}

<div class="container mt-4">
    
    <div class="row">
        <div class="col-md-10 my-auto" style="background-color: #E8EBF0">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb my-auto " style="padding-top: 5px; padding-bottom: 5px">
                    <li class="breadcrumb-item">
                        <a href="{% url 'expenses' %}">Expenses</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
                    
                </ol>
            </nav>
        </div>
    
        <div class="col-md-2">
            <a href="{% url 'add-expenses' %}" class="btn btn-primary">Add Expenses</a>
        </div>
    </div>

    {% include 'partials/messages.html' %}

    <div class="container">
        {% if expenses.count %}
        <table class="table table-stripped table-hover mt-5">
            <thead>
                <tr>
                    {% if user_preference %}
                        <th>Amount ({{user_preference.currency}})</th>
                    {% else %}   
                        <th>Amount <span class="alert" style="color:rgba(16, 27, 37, 0.404)">(Currency not found)</span></th>
                    {% endif %}
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{expense.amount}}</td>
                    <td>{{expense.category}}</td>
                    <td>{{expense.description}}</td>
                    <td>{{expense.date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="alert mt-5" style="text-align:center">No data available</p>
        {% endif %}
        
    </div>
</div>



{% endblock %}

